In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("/home/gabrielajachs/Downloads/pandas/Data - Single Worksheet.xlsx")
df

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [3]:
data = pd.read_excel("/home/gabrielajachs/Downloads/pandas/Data - Multiple Worksheets.xlsx", sheet_name = 0)

In [4]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
girls = baby_names