In [17]:
import pandas as pd
import datetime as dt

In [11]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [12]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

In [20]:
pd.to_datetime("2014-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [26]:
times = pd.Series(["2015-01-01", "July 4th, 1996"])
times

0        2015-01-01
1    July 4th, 1996
dtype: object

In [27]:
pd.to_datetime("2014-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(times)

0   2015-01-01
1   1996-07-04
dtype: datetime64[ns]