In [1]:
import pandas as pd

In [4]:
foods = pd.read_csv("/home/gabrielajachs/Downloads/pandas/foods.csv")
#pd.set_option('display.max_rows', 50000000)
foods.head(3)

  First Name  Gender      City Frequency     Item  Spend
0      Wanda  Female  Stamford    Weekly   Burger  15.66
1       Eric    Male  Stamford     Daily  Chalupa  10.56
2    Charles    Male  New York     Never    Sushi  42.14

In [5]:
pd.set_option('display.max_rows', 50000000)

In [15]:
foods.pivot_table(values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc = "min").head(3)

City            New York  Philadelphia  Stamford
Gender Item
Female Burger       2.25          1.97      6.24
       Burrito      1.02          1.04      1.18
       Chalupa      1.96          9.35      9.09

In [18]:
pd.pivot_table(data = foods, values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc = "min").head(3)

City            New York  Philadelphia  Stamford
Gender Item
Female Burger       2.25          1.97      6.24
       Burrito      1.02          1.04      1.18
       Chalupa      1.96          9.35      9.09