In [6]:
import pandas as pd

In [7]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [8]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [10]:
webster = {"Aardvark" : "An animal",
           "Banana" : "A delicious fruit",
           "Cyan" : "A color"}

pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

In [11]:
##exercise

In [12]:
countries = ["United States", "France", "Germany", "Italy"]

In [13]:
countries

['United States', 'France', 'Germany', 'Italy']

In [14]:
countries = ["United States", "France", "Germany", "Italy"]

pd.Series(countries)

0    United States
1           France
2          Germany
3            Italy
dtype: object

In [15]:
colors = ["Red", "Green", "Blue"]

pd.Series(colors)

0      Red
1    Green
2     Blue
dtype: object

In [16]:
recipe = {
  "Flour": True,
  "Sugar": True,
  "Salt": False
}

pd.Series(recipe)

Flour     True
Sugar     True
Salt     False
dtype: bool

In [18]:
about_me = ["Smart", "Successful", "Gorgeous", "Abundant", "Brilliant"]

s = pd.Series(about_me)
s

0         Smart
1    Successful
2      Gorgeous
3      Abundant
4     Brilliant
dtype: object

In [19]:
s.values

array(['Smart', 'Successful', 'Gorgeous', 'Abundant', 'Brilliant'],
      dtype=object)

In [20]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
s.dtype

dtype('O')

In [23]:
prices = [2.99, 4.45, 1.36]

s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [24]:
s.sum()

8.8

In [25]:
s.product()

18.095480000000006

In [26]:
s.mean()

2.9333333333333336

In [29]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thrusday", "Friday"]

pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thrusday         Grape
Friday       Blueberry
dtype: object

In [30]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thrusday", "Friday", "Monday"]

pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thrusday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object